@mixin d-flex {
    display: flex;
}

@mixin d-flex-center {
    display: flex;
    align-items: center;
}

@mixin btn-primay {
    padding: 10px 80px;
    color: #ffff;
    background-color: #0282f9;
    border: 1px solid transparent;
}